{% extends 'user_base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="user-greeting mb-4 p-4 bg-light rounded shadow-sm">
                    <h2 class="text-center text-primary">Welcome, {{ user.name }}!</h2>
                </div>
                <div class="user-details mb-4 p-4 bg-white rounded shadow-sm">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Your Posted Recipes:</strong></p>
                    <ul class="list-group">
                        {% for recipe in user.recipes %}
                            <li class="list-group-item"><a href="{{ url_for('recipe', recipe_id=recipe.id, user_id = session.username) }}">{{ recipe.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="user-favorites mb-4 p-4 bg-white rounded shadow-sm">
                    <p><strong>Your Favorite Recipes:</strong></p>
                    <ul class="list-group">
                        {% for favorite in favorites %}
                            <li class="list-group-item"><a href="{{ url_for('recipe', recipe_id=favorite.recipe_id, user_id = session.username) }}">{{ favorite.recipe.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="popular-recipes p-4 bg-light rounded shadow-sm">
                    <h3 class="text-primary">Best Rated Recipes</h3>
                    <ul class="list-group">
                        {% for recipe in popular_recipes %}
                            <li class="list-group-item"><a href="{{ url_for('recipe', recipe_id=recipe.id, user_id = session.username) }}">{{ recipe.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
